<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models" value="https://ubz8a.pkgs.visualstudio.com/9aed004d-077b-4680-8534-f38f31229520/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>